@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}
html,body{height:100%;}
body{background:#f6f7fb; color:#0f172a;}
a{color:inherit; text-decoration:none;}
